html {
    background-color: #131516;
    color: #c5c5c5;
}

body {
    padding-left: 10%;
    padding-right: 10%;
}


#terminal {
    width: 100%;
    background-color: black;
    color: white;
}

.terminals {
    color: snow;
    margin: 0;
    height: 100%;
    padding: 2%;
    overflow: auto;
    height: 49vh;
    resize: both;
    border: 1px dashed grey;
}

pre#info {
    margin-bottom: 0;
    float: left;
    font-size: 0.9em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    transition: 400ms;
    color: black;
    width: 100%;
}

div.demo-examples-container {
    line-height: 1.7;
    padding-bottom: 1.5%;
    transition: 800ms;
}

.demo-examples {
    color: snow;
    background-color: #4635f7;
    border-radius: 0;
    font-size: 0.9em;
    margin-right: 0.5em;
    margin-top: 0.5em;
    cursor: pointer;
    transition: 800ms;
    display: inline-block;
    padding: 0.5%;
}

.demo-examples:hover {
    background-color: #ff357a;
    transition: 800ms;
}

.what-is-this {
    float: right;
    font-size: 0.9em;
    margin-top: 0.5em;
}

.CodeMirror {
    border: 1px solid #eee;
    height: auto;
}

a {
    color: #678cfa;
}

p, li {
    font-size: 1em;
    line-height: 2;
    font-family: DejaVu Serif;
    color: snow;
}
#duplicate-terminal:hover {
    background-color: #4635f7;
    border: 1px solid #4635f7;
    transition: 800ms;
    cursor: pointer;
}
#remove-terminal:hover {
    background-color: crimson;
    border: 1px solid crimson;
    transition: 800ms;
    cursor: pointer;
}
#duplicate-terminal, #remove-terminal {
    border: 1px dashed grey;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    margin-top: 0.5em;
    transition: 800ms;
    color: snow;
    font-size: 1em;
    line-height: 1.7;
}
