.demonic-web {
    height: 25em;
    background-color: black;
    line-height: normal;
    border: 1px solid gray;
    resize: both;
    overflow: auto;
    position: relative;
}

#status {
    transition: 800ms;
    background-color: #ff357a;
    font-size: small;
    font-weight: bold;
    padding: 0.5em;
    color: white;
}

#status.connected {
    background-color: #49ccd4;
}

div#demonic-examples {
    color: white;
    line-height: 1.7;
    padding-top: 2em;
    padding-bottom: 2em;
    transition: 800ms;
}

#demonic-examples > code {
    background-color: #29208e;
    border-radius: 0;
    margin: 0.5em;
    cursor: pointer;
    transition: 800ms;
    display: inline-block;
    padding: 0.5em;
    font-weight: bold;
}


#demonic-examples > code:hover {
    background-color: #FF357A;
    transition: 800ms;
}

.terminal.xterm {
    padding: 1em;
}

.what-is-this {
    text-align: right;
    margin-top: 1.5em;
    color: gray;
}

.what-is-this > a {
    text-decoration: none;
}

.what-is-this > a:hover {
    text-decoration: underline;
}

#terminal-container {
    padding-bottom: 10%;
}

.buttons {
    position: absolute;
    z-index: 100;
    right: 1em;
    top: 0;
}

.buttons > button {
    color: white;
}

.dark-text > button {
    color: black;
}

button {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    height: 2em;
    cursor: pointer;
    font-size: larger;
    padding: 0.5em;
}

button:hover {
    color: #FF357A;
}

.hide {
    display: none;
}

.demonic-menu {
    position: absolute;
    top: 0;
    right: 3em;
    margin: 1em;
    background: black;
    color: white;
    outline: 1px solid gray;
    z-index: 100;
    padding: 0;
    font-size: smaller;
}

.demonic-menu > li {
    padding: 1em 2em 1em 2em;
    cursor: pointer;
    list-style: none;
}

.demonic-menu > li:hover {
    text-decoration: underline;
}

.close {
    background-color: #AA0000;
}

.urlSpan {
    float: right;
    cursor: pointer;
}
